
.header, .main {
    padding: 1px;
}
.header {
    background:rgba(0,0,0,0.4);
    grid-area: header;
}


h1, h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #77cd63;
    background:rgba(0,0,0,0);
}

h1 {
    font-size: 75px;
}

h3 {
    border: 5px outset #000000;
    border-radius: 5px;
    font-size: 30px;
    margin: auto 10%;
}

h3:hover {
    border: 5px outset #000000;
    border-radius: 5px;
    font-size: 30px;
    transition-duration: 0.5s;
    background:rgba(0,0,0,0.8);
}

body {
    background-image: url("redpanda.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    background:rgba(0,0,0,0.4); 
    display: grid;
    text-align: center;
    font-size: 50px;
    margin: 5% 30%;
    padding: 20px;
}

.container {
    background:rgba(0,0,0,0.8);
    border: 5px outset #000000;
    border-radius: 5px;
}

.button, .delete_button, .logout_button {
    background:rgba(0,0,0,0.4);
    margin-top: 5%;
    padding: 5px 10px;
    border: 5px outset #000000;
    border-radius: 5px;
    color: #77cd63;
    text-decoration: none;
}

.button:hover {
    transition-duration: 0.5s;
    background: #77cd63;
    color: white;
}

.logout_button:hover, .delete_button:hover {
    transition-duration: 0.5s;
    background: #cd6363;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: grid;
    margin-bottom: 5%;
    color: #77cd63;
    font-size: large;
}

.tasks {
    border: 5px outset #000000;
    border-radius: 5px;
    padding-bottom: 2%;
    padding-top: 1%;
    margin: auto 20%;
}

.filtro {
    color: #77cd63;
}

#status, #user {
    color: #77cd63;
    background: #000000;
}
.form {
    padding-bottom: 1%;
}