{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Minha Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header class="header"><h1>Minha Lista de Tarefas</h1></header>
    <main class="main">
        <div class="container">
             <!-- Formulário de filtro -->
             <form class="form" method="get" action="{% url 'home' %}">
                <label class="filtro" for="status">Filtrar por status:</label><br>
                <select name="status" id="status">
                    <option value="">Todos</option>
                    <option value="1">Pendente</option>
                    <option value="2">Em andamento</option>
                    <option value="3">Concluída</option>
                </select><br>
                <!-- se o usuário for um superusuário, exibir o filtro de usuário -->
                {% if user.is_superuser %}
                    <label class="filtro" for="user">Filtrar por usuário:</label><br>
                    <select name="user" id="user">
                        <option value="">Todos</option>
                        {% for u in users %}
                            <option value="{{ u.id }}">{{ u.username }}</option>
                        {% endfor %}
                    </select><br>
                {% endif %}
                <button type="submit" class="button">Filtrar</button>
            </form>
        </div>
            <ul>
                {% for task in tasks %} <!-- tasks é uma variável que contém todas as tarefas do usuário -->
                    <li>
                        <div class="tasks">
                            <form action="{% url 'update_task' task.id_task %}" method="post"> <!-- action é a url que será chamada quando o formulário for submetido -->
                                {% csrf_token %} <!-- token de segurança -->
                                <!-- <input type="checkbox" {% if task.complete_task %}checked{% endif %} onChange="this.form.submit()"> --> <!-- se a tarefa estiver completa, o checkbox estará marcado -->
                            </form>
                            <h3>TAREFA: {{ task.title_task }}</h3><br>                   <!-- título da tarefa -->
                            DESCRIÇÃO: {{ task.description_task }}<br>                   <!-- descrição da tarefa -->
                            PRAZO: {{ task.prazo_task }}<br>                             <!-- prazo da tarefa -->
                            PRIORIDADE: {{ task.get_priority_task_display }}<br>         <!-- prioridade da tarefa -->
                            STATUS: {{task.get_complete_task_display}}<br><br>           <!-- status da tarefa -->
                            {% if user.is_superuser %}
                            {% else %}
                                <a href="{% url 'delete_task' task.id_task %}" class="delete_button">Excluir</a>   <!-- link para excluir a tarefa -->
                                <a href="{% url 'edit_task' task.id_task %}" class="button">Editar</a>      <!-- link para editar a tarefa -->
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'add' %}" class="button">Adicionar</a> <!-- link para adicionar uma nova tarefa -->
            <a href="{% url 'logout' %}" class="logout_button">Logout</a>  <!-- link para fazer logout -->
    </main>
</body>
</html>