<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container"> <!-- container para centralizar o conteúdo -->
        <h1>Registrar</h1>
        <form method="post">
            {% csrf_token %} <!-- token de segurança -->
            {{ form.as_p }} <!-- renderiza o formulário de registro -->
            <input type="submit" value="Registrar"> <!-- botão para submeter o formulário -->
        </form>
    </div>
</body>
</html>