{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <header class="header"><h1>Registrar</h1></header>
    <main class="main">
        <form method="post">
            {% csrf_token %} <!-- token de segurança -->
            {{ form.as_p }} <!-- renderiza o formulário de registro -->
            <input type="submit" class="button" value="Registrar"> <!-- botão para submeter o formulário -->
        </form>
    </main>
</body>
</html>